<div>
  <h1>Contacts</h1>
  
  <table class="table table-striped">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone Number</th>
      <th>Email</th>
    </tr>
    <% _.each(contacts, function (contact) { %>
      <tr>
        <td><%= contact.firstName %></td>
        <td><%= contact.lastName %></td>
        <td><%= contact.phoneNumber %></td>
        <td><%= contact.emailAddress %></td>
      </tr>
    <% }) %>
  </table>
</div>
